
$img-app-background : none;
$img-icon-leftnav   : none;
$img-icon-search: none;

$size-leftnav-collapsed-height: 86px !default;

$custom-color-base-bg: #000000;
$custom-color-base-fg: #FFFFFF;

$custom-color-component-bg: #555C73;
$custom-color-component-fg: lighten(#D4D4D4, 30%);


$color-app-base-bg      : $custom-color-base-bg;
$color-app-header-bg    : transparent;

$color-overlay-bg    : $custom-color-base-bg;
$color-overlay-text : $custom-color-base-fg;

$color-title-text : #B3DAF2;
$color-meta-primary-text : darken($custom-color-base-fg, 50%);
$color-meta-secondary-text: darken($custom-color-base-fg, 30%);
$color-description-text : $custom-color-base-fg;

$color-menu-base-bg : transparent;

$color-menu-item-text :  $custom-color-component-fg;
$color-menu-item-bg: transparent;
$color-menu-item-chosen-text    : $custom-color-component-fg;
$color-menu-item-chosen-bg: transparent;
$color-menu-item-highlight-text: $custom-color-component-fg;
$color-menu-item-highlight-bg: transparent;
$color-menu-item-selected-text: $custom-color-component-fg;
$color-menu-item-selected-bg: transparent;

$color-menu-search-text: $custom-color-component-fg;
$color-menu-search-bg: transparent;

$color-btn-text: $custom-color-component-fg;
$color-btn-bg : $custom-color-component-bg;
$color-btn-selected-text: $custom-color-component-bg;
$color-btn-selected-bg: $custom-color-component-fg;
$color-btn-selected-border: $custom-color-component-fg;

$color-spinner-bg : #394149;

$color-player-controls-bg: rgba($custom-color-base-bg, 0.7);
$color-timeline-border : $custom-color-component-bg;
$color-timeline-bg   : $custom-color-component-bg;
$color-playhead-border : $custom-color-component-fg;
$color-playhead-bg   : $custom-color-component-fg;

$color-thumbnail-border: $custom-color-component-fg;

/* style overrides */

body{
  background:radial-gradient(ellipse at center, rgba(255,254,234,1) 0%, rgba(255,254,234,1) 35%, #B7E8EB 100%) !important ;
  overflow: hidden;
}
.app-top-bar {
  border-bottom: 1px solid $custom-color-component-fg
}
.app-logo img{
}
.user-name:before{
    content: "Greetings, Metodi Deribanov ";
}
.user-menu:before{
    content: "\2764  Profile  |  \2630  Settings  |  \27A4  Logout";
}
.app-logo {
    font-size: 1em;
    font-weight: lighter;
    text-align: right;
    color: $custom-color-component-fg;
}

.user-name, 
.user-menu {
    font-size: 1.2em;
    font-weight: normal;
    text-align: right;
    color: $custom-color-component-fg;
    opacity: 0.65;
}

.summaryTitle {
    text-transform: uppercase;
}

.leftnav-menulist-expanded {
    background: linear-gradient(to right, #000000 0%, #000000 40%, transparent 100%) !important;
}

.leftnav-menu-scrolling-list {
  -webkit-transition-property: -webkit-transform, top;
  -webkit-transition-duration: 0.25s;
  -webkit-transition-timing-function: linear;
}

.leftnav-list-item-static {
   font-size: 1.6em !important;
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.25s;
    opacity: 0.40;
    border: none !important;
}

.leftnav-list-item-highlighted, .leftnav-list-item-selected {
    opacity: 1;
}
.leftnav-list-item-chosen{
    opacity: 0.65;
}
.leftnav-list-item-highlighted {
    background: transparent url('assets/icon_leftnav_arrowDown.png') no-repeat left 100px center !important;
}


// best seen at 1500px or less

.ocean { 
  height: 5%;
  width:100%;
  position:absolute;
  bottom:0;
  left:0;
  background: #015871;
}

.wave {
  background: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/85486/wave.svg) repeat-x; 
  position: absolute;
  top: -198px;
  width: 6400px;
  height: 198px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) infinite;
  transform: translate3d(0, 0, 0);
}

.wave:nth-of-type(2) {
  top: -175px;
  animation: wave 7s cubic-bezier( 0.36, 0.45, 0.63, 0.53) -.125s infinite, swell 7s ease -1.25s infinite;
  opacity: 1;
}

@keyframes wave {
  0% {
    margin-left: 0;
  }
  100% {
    margin-left: -1600px;
  }
}

@keyframes swell {
  0%, 100% {
    transform: translate3d(0,-25px,0);
  }
  50% {
    transform: translate3d(0,5px,0);
  }
}

